@media (max-width: 767px) {
    header form {
        margin-top: 20px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0;
    }
}

@media (max-width: 1200px) {
    header ul li {
        margin-top: 20px;
    }
}