/*Fonte*/

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

/*Configuração do corpo e fonte padrão*/

body {
    font-family: 'Kiwi Maru', serif;
    ;
}


/*Header Inicial*/

header {
    background-color: #000;
    padding: 25px;
}


/*Logo*/

header img.logo {
    width: auto;
    height: 32px;
}


/*Busca*/

form input[type="text"] {
    background: #fff;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 6px 20px;
}


/*Lupa*/

form button {
    background: none;
    border: none;
    position: absolute;
    right: 25px;
}


/*Administrativo Cliente*/

header ul li {
    position: relative;
}

header ul li span.notificacao {
    color: #efefef;
    background-color: #00bac6;
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

header ul li a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

header ul li a:hover {
    color: #00bac6;
    text-decoration: none;
}

header ul li a img {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}


/*Lista opções*/

nav.nav-produtos {
    background-color: #fff;
    color: #000;
    border-bottom: 3px solid gray;
}


/*Menu Lista opções*/

nav section ul.nav li {
    font-size: 16px;
    position: relative;
    padding: 10px;
}

nav section ul.nav li svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

nav section ul.nav li:hover ul.nav {
    display: block;
}

nav section ul.nav li:hover ul.nav li.nav-item a {
    color: #00bac6;
}

nav section ul.nav li:hover ul.nav li.nav-item a:hover {
    color: #00bac6;
    text-decoration: none;
    border: none;
}

nav section ul.nav li ul.nav {
    z-index: 999;
    display: none;
    position: absolute;
    top: 44px;
    background-color: #fff;
    border-top: 3px solid #00bac6;
    width: 100%;
}

nav section ul.nav li ul.nav li {
    padding: 8px 25px;
}


/*Banner*/


/*Banner Promocional*/

.banner-promocional {
    background-color: #efefef;
}

.banner-statico {
    margin-top: 20px;
}

.banner-statico .vezes-12 {
    padding: 20px 60px;
    color: #000;
}

.banner-statico .vezes-12 svg {
    width: 65px;
    height: 65px;
}

.banner-statico .vezes-12 p {
    margin-top: 10px;
    line-height: 110%;
    font-weight: 100;
    font-size: 20px;
    margin-left: 20px;
}

.banner-statico .vezes-12 p strong {
    font-weight: bold;
}

.banner-statico .todo-brasil {
    padding: 20px 60px;
    color: #000;
}

.banner-statico .todo-brasil svg {
    width: 65px;
    height: 65px;
}

.banner-statico .todo-brasil p {
    margin-top: 10px;
    line-height: 110%;
    font-weight: 100;
    font-size: 20px;
    margin-left: 20px;
}

.banner-statico .todo-brasil p strong {
    font-weight: bold;
}


/*Produtos*/

ol.breadcrumb {
    background: initial;
    margin: 25px 0;
    padding: 0;
}

ol.breadcrumb li.breadcrumb-item a {
    color: #00bac6;
}

ol.breadcrumb li.breadcrumb-item a:hover {
    color: #00bac6;
    text-decoration: none;
    border: none;
}

.produtos {
    margin-top: 30px;
}

.produtos p {
    text-align: justify;
}

.produtos-container {
    text-decoration: none;
    color: #000;
    margin: 30px 0;
}

.produtos-itens h2 {
    font-size: 19px;
    margin: 10px 0 0;
}

.produtos-conteiner:hover {
    text-decoration: none;
    color: #000;
}

.produtos a:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #00bac6;
}

.produtos-container svg {
    width: 9px;
    height: 9px;
    color: rgb(255, 255, 50);
}

.produtos-preco {
    font-size: 16px;
}

.btn-veja-mais a:hover {
    color: #fff;
}


/*Rodapé*/

footer {
    background-color: #efefef;
    margin-top: 30px;
    padding: 20px;
}

footer h4 {
    font-size: 19px;
}

footer ul li a {
    color: #000;
}

footer ul.pagar li a img {
    margin-right: 20px;
    margin-bottom: 10px;
}

footer ul li a:hover {
    text-decoration: none;
    color: #000;
}

footer p {
    text-align: justify;
}

.headerfinal {
    background-color: #000;
    color: white;
    font-size: 12px;
    text-align: center;
}

.headerfinal p {
    margin: 20px;
    text-align: center;
}